body, html{
    margin: 0;
    background-image: url("../img/homeBg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#playBtn{
    position: absolute;
    top: 60%;
    right: 12%;
}

#logo{
    filter: invert(100%);
    position: absolute;
    top: 1%;
    right: 1.25%;
    cursor: pointer;
}

@media only screen and (max-width: 768px){
    #playBtn{
        top: 65%;
        right: 0;
        width: 100%;
    }
    #logo{
        top: 2%;
        right: 0;
        width: 100%;
    }
}